<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestoria Peninsular</title>


  <!-- bootstrap -->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <!-- Alternativo flatly -->

</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand mx-auto">Gestoria Peninsular</a>
  </nav>