<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestoria Peninsular</title>


  <!-- bootstrap -->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <!-- Alternativo flatly -->

</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand mx-auto">Gestoria Peninsular</a>
  </nav>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/routes" method="post">

              <div class="form-group">
                <input type="text" name="asesor" id="" class="form-control" placeholder="Asesor">
              </div>

              <div class="form-group">
                <input type="text" name="cliente" id="" class="form-control" placeholder="Cliente">
              </div>

              <button type="submit" class="btn btn-primary">Save cliente</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>


</body>


</html>